.home {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 1rem;
}

main {
	display: grid;
	grid-template-columns: 20% 1fr;
}

.gifs__content h2 {
	margin: 0;
	font-size: 48px;
}
