.home {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 1rem;
}

.home h2 {
	font-size: 3rem;
	color: white;
	text-align: left;
}

.home ul {
	list-style: none;
	padding: 0;
}

.home li {
	margin-bottom: 1rem;
	text-align: left;
}

.home li a {
	color: white;
	text-decoration: none;
	font-size: 2rem;
	text-align: left;
}
