.home {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 1rem;
}

main {
	display: grid;
}

.gifs__content h2 {
	margin: 0;
	font-size: 48px;
}

@media (min-width: 768px) {
	main {
		grid-template-columns: 20% 1fr;
	}
}
