.App {
	text-align: center;
	background-color: #282c34;
	min-height: 100vh;
	color: white;
	display: flex;
	flex-direction: column;
}

.logo a {
	text-decoration: none;
	color: white;
	font-size: 4rem;
}
